:root {

    --color-fondo: #F2ECE9;
    --color-link: #000;
    --color-rosa-nav: #F4E0E8;
    --color-rosa-saludo: #F5F0F1;
    --color-café-claro: #ECDBDF;
    --color-rosa: #FAD2E6;
    --color-café-blanco: #FAE9E1;
    --color-verde: #D4E0C3;
    --color-gris: #C2BAB8;
    --color-verde-oscuro: #E9F2EC;
    --color-rosa-zanahoria: #DB9393;
    --color-blanco-rosa: #f2f2f2;

}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-link);
}

body {
    box-sizing: border-box;
    background-color: var(--color-fondo);
    font-family: 'Raleway';
    margin: 0;
    line-height: 1;
}

.nav__header {
    width: 100% - 40px;
}

.menu__list {
    background-color: var(--color-rosa-nav);
    position: fixed;
    margin: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    transition: 0.5s;
    z-index: 2
}

.menu__list__item {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 15px;
}


nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #4FA4A8;
    text-decoration: underline;
    font-size: 1.1rem;
    transition: 1s;
}

.menu__list-footer {
    position: static;
    height: 20%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    transition: 0.5s;
    z-index: 2
}

.menu__list__item-footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
}

.footer__logo {
    display: flex;
    width: 6rem;
    margin: 1rem;
}

.fin__footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title__bio {
    padding: 1rem;
    justify-content: center;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    animation-duration: 3s;
    animation-name: saludo;

}

.saludo__div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-rosa-saludo);
    padding: 2rem 0rem 0 0;
    flex-grow: 1;
    min-height: 34rem;

}

@keyframes saludo {
    0% {
        font-size: 4rem;
    }

    50% {
        font-size: 6rem;
    }

    100% {
        font-size: 4rem;
    }
}

.title__soy {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.title__explora {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.saludo__contenido {
    width: 60%;
}

.title__subsection {
    padding: 1rem;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    line-height: 30px;
}

.angulo1 {
    width: 100%;
    height: 80px;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 100%);
    background-color: var(--color-rosa-saludo);
    z-index: 1
}

.about__title {
    text-transform: uppercase;
    margin: 0 0 10px;
    font-size: 0.75rem;
    color: #3c191b;
    letter-spacing: 0.06rem;
}

.sobre__Laura {
    font-size: 1.9rem;
    line-height: 1.3;
    text-transform: capitalize;
    margin: 0 0 1rem;
    color: #30574c;
}

.contenido__sobre {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.contenido__sobre-text {
    width: 70%;
    padding-left: 5%;
}

.profile {
    margin-right: 40px;
    width: 30%;
    border-radius: 50%;
}

.profile:hover {
    filter: drop-shadow(20px 20px 10px var(--color-gris));
    scale: 1.1;
    transition: 3s;
}

.about__paragraph {
    padding: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.redes a {
    margin-bottom: 5px
}

.redes a:hover {
    color: #4FA4A8;
    font-size: 1.2rem;
    filter: drop-shadow(-10px -20px 10px var(--color-rosa-zanahoria));
    transition: 1s;
}

.title__network__item {
    padding: 8px;
}

.about__container {
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: var(--altura-min);
    padding: 2rem 4rem 7rem;
    margin: 1rem auto 1rem;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.angulo2 {
    clip-path: polygon(0 0, 100% 0, 45% 100%);
    background-color: var(--color-fondo);
    width: 100%;
    height: 30px;
}

.color__angulo2 {
    background-color: var(--color-café-claro);
}

.skills {
    padding: 2rem;
    background-color: var(--color-café-claro);
}

.skills__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
    line-height: 1.3;
    text-transform: capitalize;
    margin: 0 0 1rem;
    color: #30574c;
    margin-top: 1.5rem;
}

.skills__cards {
    padding: 1rem;
}

.skills__line {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skills__box {
    width: 14rem;
    padding: 2rem;
}

.skills__box li {
    display: flex;
    justify-content: center;
    align-items: center;

}

.skills__box img {
    width: 5rem;
}

.skills__cards:hover {
    border-color: var(--color-verde);
    transform: scale(1.1);
    filter: drop-shadow(20px 20px 10px var(--color-gris));
    ;
    transition: 2s;
}

.angle3 {
    background-color: var(--color-café-claro);
    content: "";
    height: 50px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
}

.color__angulo3 {
    background-color: var(--color-verde-oscuro);
}

.hobbies {
    padding: 2rem;
    background-color: var(--color-verde-oscuro);
}

.hobbies__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
    line-height: 1.3;
    text-transform: capitalize;
    margin: 0 0 1rem;
    color: #30574c;
    margin-top: 1rem;
}

.hobbies__cards {
    width: 100%;
    padding: 1rem;
}

.hobbies__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen__hobb {
    width: 5rem;
}

.hobbies__cards:hover {
    border-color: var(--color-verde);
    transform: scale(1.1);
    filter: drop-shadow(20px 20px 10px var(--color-gris));
    transition: 2s;
}

.hobbies__line {
    display: flex;
    justify-content: space-evenly;
}

.hobbies__box li {
    display: flex;
    justify-content: center;
    align-items: center;

}


.angulo4 {
    width: 100%;
    height: 30px;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 100% 100%);
    background-color: var(--color-verde-oscuro);
    z-index: 1;
}


.color__angulo4 {
    background-color: white;
}

.formacion-academica {
    background-color: white;
    padding: 5%;
}

.formacion-academica h2 {
    text-align: center;
    background-color: white;
    font-size: 1.9rem;
    line-height: 1.3;
    text-transform: capitalize;
    color: #30574c;
    margin: none;
}

.institutions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2%;

}

.institution {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.institution h3 {
    text-transform: uppercase;
    padding: 1rem 0 1rem 0;

}

.cards {
    display: flex;
    align-items: flex-end;
    width: 20%;
    padding: 1rem;

    border-style: solid;
    border-radius: 10px;
    border-color: var(--color-café-claro);
    border-width: 3px;
    justify-content: center;
}

.cards:hover {
    scale: 1.1;
    transition: 2s;

}

.details__academic {
    text-align: center;
}

.institution img {
    min-width: 100px;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.institution h3 {
    text-transform: uppercase;
}


.institution p {

    color: #888;
    padding: .75rem;
}

.certificar {
    color: black;

}

.certificar:hover {
    color: var(--color-verde-oscuro);
    text-decoration: underline;
    background-color: var(--color-café-blanco);
    font-size: 1.2rem;
    transition: 2s;
}

.angulo5 {
    width: 100%;
    height: 30px;
    position: relative;
    clip-path: polygon(0% 0%, 0% 80%, 20% 40%, 40% 70%, 60% 30%, 80% 80%, 100% 30%, 100% 0%);
    background-color: white;
    z-index: 1;
}

.experience__box {
    width: 45%;
    transition: transform 0.3s ease;
}

.experience__section__title {
    text-align: center;
    font-size: 1.9rem;
    line-height: 1.3;
    text-transform: capitalize;
    color: #30574c;
    margin: 0 0 1rem;
    margin-top: 3rem;
}

.experience__box-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.experience__img {
    max-width: 80%;
    height: auto;
}

.experience__lista {
    display: inline-block;
    text-align: center;
    width: 40%;
    height: auto;
    vertical-align: top;
    padding: 30px 10px;
    box-sizing: border-box;
    border-color: var(--color-café-claro);
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    background-color: var(--color-café-blanco);
    margin: 1rem 1rem 1rem 2rem;

}

.experience__lista:hover {
    border-color: var(--color-verde);
    transform: scale(1.1);
    box-shadow: 10px 20px 20px var(--color-gris);
    transition: 2s;
}

.experience__lista h2 {
    padding: 1rem 1rem 2rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.descripcion {
    padding: 1rem;
}

.experiencia__botao--repo,
.experience__botao--demo {
    background: var(--color-rosa-saludo);
    /* color de fondo */
    color: black;
    /* color de fuente */
    border: 2px solid var(--color-café-claro);
    /* tamaño y color de borde */
    padding: 10px 20px;
    border-radius: 3px;
    /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.experiencia__botao--repo:hover,
.experience__botao--demo:hover {
    color: var(--color-rosa-zanahoria);
    /* color de fuente hover */
}

.experiencia__botao--repo::after,
.experience__botao--demo::after {
    content: "";
    background: var(--color-rosa-nav);
    /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.experiencia__botao--repo:hover::after,
.experience__botao--demo:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.angulo6 {
    width: 100%;
    height: 30px;
    position: relative;
    clip-path: polygon(0% 50%, 0% 30%, 20% 60%, 40% 70%, 60% 50%, 80% 30%, 100% 50%, 100% 100%, 0% 100%);
    background-color: var(--color-gris);
    z-index: 1;
}


.contacto {
    background-color: var(--color-gris);
    padding: 20px;
}

.contacto__title {
    text-align: center;
    font-size: 1.9rem;
    line-height: 1.3;
    text-transform: capitalize;
    color: #30574c;
    margin: 0 0 1rem;
    margin-top: 2rem;
}

.contacto__container {
    margin: 0 auto;
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contact-info img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.details__contac {
    text-align: left;
}

.details__contac p {
    margin: 10px 0;
}

.redes_cont:hover {
    color: #42190B;
    text-decoration: underline;
    font-size: 1.3rem;
    filter: drop-shadow(10px 10px 10px var(--color-verde-oscuro));
    transition: .75s;
}

.footer {
    background-color: var(--color-blanco-rosa);
    padding: 20px;
    text-align: center;
}

.footer-content {
    color: #888;
}




/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media screen and (max-width:920px) {
    .menu {
        width: 100%;
    }

    .menu__list {
        flex-wrap: wrap;
        position: relative;
        height: 150px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: .75rem 1rem .75rem 1rem;
        border-bottom: 1px solid black;
    }


    .institutions {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;


    }

    .institution {
        padding: 3rem;
        box-sizing: border-box;
        align-items: center;
    }

    .skills__line {
        flex-wrap: wrap;
    }

    .hobbies__line {
        flex-wrap: wrap;
    }

    .cards {
        width: 15rem;
        justify-content: center;

        border-color: var(--color-café-claro);
        border-style: solid;
        border-width: 3px;
        border-radius: 10px;

        margin: 1rem;
        align-items: center;

    }

    .experience__box-info {
        flex-direction: column;
    }

    .experience__lista {
        margin: 1rem;
        width: 80%
    }

    .saludo__div {
        padding: 0;
        min-height: 0;
    }

    @keyframes saludo {
        0% {
            font-size: 2rem;
        }

        50% {
            font-size: 4rem;
        }

        100% {
            font-size: 2rem;
        }
    }

}


@media screen and (max-width: 768px) {
    .title__bio {
        font-size: 3rem;
        padding: 1rem 2rem;
    }

    @keyframes saludo {
        0% {
            font-size: 3rem;
        }

        50% {
            font-size: 4rem;
        }

        100% {
            font-size: 3rem;
        }
    }

    .title__subsection {
        padding: 1rem 2rem;
    }

    .title__ {
        font-size: 2rem;
        padding: 1rem 2rem;
    }

    .title__soy {
        width: 80%;
    }

    .saludo__contenido {
        width: 100%;
    }

    .title__explora {
        width: 80%;
        margin: auto;
    }

    .about__container {
        padding: 0;
    }

    .contenido__sobre {
        flex-direction: column;
        align-items: center;
    }

    .profile {
        width: 40%;
        margin: 0px;
    }

    .contenido__sobre-text {
        text-align: center;
        padding: 0px;
        width: 100%;
    }
}


/*Mobile*/
@media (max-width: 425px) {

    .about__container {
        padding: 0;
    }

    .contenido__sobre {
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .profile {
        margin: 0%;
        width: 60%;
    }

    .skills__line {
        display: flex;
        flex-wrap: wrap;
    }

    .hobbies__line {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-info img {
        width: 15%;
    }


}