:root {

    --color-fondo: #F2ECE9;
    --color-link: #000;
    --color-rosa-nav: #F4E0E8;
    --color-rosa-saludo: #F5F0F1;
    --color-café-claro: #ECDBDF;
    --color-rosa: #FAD2E6;
    --color-café-blanco: #FAE9E1;
    --color-verde: #D4E0C3;
    --color-gris: #C2BAB8;
    --color-verde-oscuro: #E9F2EC;
    --color-rosa-zanahoria: #DB9393;
    --color-blanco-rosa: #f2f2f2;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-link);
}

body {
    box-sizing: border-box;
    background-color: var(--color-fondo);
    font-family: 'Raleway';
    margin: 0;
    line-height: 1;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.nav__header {
    width: 100% - 40px;
}

.menu__list {
    background-color: var(--color-rosa-nav);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 1000;
    transition: background-color 0.5s ease;
}
.menu__list__item, .about__container h3, .about__container h4 {
    transition: color 0.5s ease;
}
.menu__list__item {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}
.menu_list_item a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.menu__list__item a:hover , .menu__list__item-footer a:hover {
    text-decoration: underline;
    color: #4FA4A8;
    transition: 1s;
    font-size: 1.1rem;
}
/* Botón modo oscuro */
.modo-contenedor {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el botón y el texto */
}
#modo-btn {
    background: linear-gradient(45deg, #4FA4A8, #6BBF9F); /* Degradado atractivo */
    border: none;
    color: white;
    padding: 0.8rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Efectos de transición */
    position: absolute;
    top:7rem;
    right: 3rem;
}
#modo-btn:hover {
    transform: scale(1.1); /* Aumenta el tamaño del botón en hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Añade sombra al hacer hover */
}
/* Estilo del texto */
#modo-texto {
    font-weight: bold;
    color: #333; /* Color neutro para el texto */
    transition: color 0.3s ease; /* Suaviza el cambio de color */
}
/* Estilo para texto en modo oscuro */
body.modo-oscuro #modo-texto {
    color: #FAD2E6; /* Color de texto bonito para el modo oscuro */
}

/* Para pantallas grandes, ocultar el texto */
@media (min-width: 769px) {
    #modo-texto {
        display: none;
    }
}
.menu__list-footer {
    position: static;
    height: 20%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    transition: 0.5s;
    z-index: 2
}

.menu__list__item-footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
}

.footer__logo {
    display: flex;
    width: 6rem;
    margin: 1rem;
}

.fin__footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*saludo */
.saludo {
    background-color: var(--color-rosa-saludo);
    padding-top: 7rem;
    text-align: center;

}

.title__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title__bio {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.title__soy {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.saludo__contenido {
    width: 60%;
}

.title__subsection {
    padding: 1rem;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    line-height: 30px;
}
.title__explora {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/*Redes links*/
.redes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.redes a {
    margin-bottom: 5px
}

.redes a:hover {
    color: #4FA4A8;
    font-size: 1.2rem;
    filter: drop-shadow(-10px -20px 10px var(--color-rosa-zanahoria));
    transition: 1s;
}

.title__network__item {
    padding: 8px;
}
.angulo1 {
    width: 100%;
    height: 80px;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 100%);
    background-color: var(--color-rosa-saludo);
    z-index: 1
}
/*About section*/
.about__container {
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: var(--altura-min);
    padding: 2rem 4rem 7rem;
    margin: 1rem auto 1rem;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.about__title {
    text-transform: uppercase;
    margin: 0 0 10px;
    font-size: 0.75rem;
    color: #3c191b;
    letter-spacing: 0.06rem;
}

.sobre__Laura {
    font-size: 1.9rem;
    line-height: 1.3;
    text-transform: capitalize;
    margin: 0 0 1rem;
    color: #30574c;
}
.about__paragraph {
    padding: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}

.contenido__sobre {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.contenido__sobre-text {
    width: 70%;
    padding-left: 5%;
}

.profile {
    margin-right: 40px;
    width: 35%;
    border-radius: 100%;
}

.profile:hover {
    filter: drop-shadow(20px 20px 10px var(--color-gris));
    scale: 1.1;
    transition: 3s;
}

.angulo2 {
    clip-path: polygon(0 0, 100% 0, 45% 100%);
    background-color: var(--color-fondo);
    width: 100%;
    height: 30px;
}

.color__angulo2 {
    background-color: var(--color-café-claro);
}

.skills {
    padding: 2rem;
    background-color: var(--color-café-claro);
}

.skills__title, .hobbies__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
    line-height: 1.3;
    text-transform: capitalize;
    margin: 0 0 1rem;
    color: #30574c;
    margin-top: 1.5rem;
}

.skills__cards {
    padding: 1rem;
}

.skills__line {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skills__box {
    width: 14rem;
    padding: 2rem;
}

.skills__box li {
    display: flex;
    justify-content: center;
    align-items: center;

}

.skills__box img {
    width: 5rem;
}

.skills__cards:hover , .hobbies__cards:hover {
    border-color: var(--color-verde);
    transform: scale(1.1);
    filter: drop-shadow(20px 20px 10px var(--color-gris));
    ;
    transition: 2s;
}

.angle3 {
    background-color: var(--color-café-claro);
    content: "";
    height: 50px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
}

.color__angulo3 {
    background-color: var(--color-verde-oscuro);
}
/*Hobbies*/
.hobbies {
    padding: 2rem;
    background-color: var(--color-verde-oscuro);
}

.hobbies__cards {
    width: 100%;
    padding: 1rem;
}

.hobbies__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen__hobb {
    width: 5rem;
}

.hobbies__line {
    display: flex;
    justify-content: space-evenly;
}

.hobbies__box li {
    display: flex;
    justify-content: center;
    align-items: center;

}


.angulo4 {
    width: 100%;
    height: 30px;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 100% 100%);
    background-color: var(--color-verde-oscuro);
    z-index: 1;
}


.color__angulo4 {
    background-color: white;
}
/*Formación académica*/
.formacion-academica {
    background-color: white;
    padding: 5%;
}

.formacion-academica h2 {
    text-align: center;
    background-color: white;
    font-size: 1.9rem;
    line-height: 1.3;
    text-transform: capitalize;
    color: #30574c;
    margin-bottom: 3rem;
}

.institutions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

}

.institution {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.institution h3 {
    text-transform: uppercase;
    padding: 1rem 0 1rem 0;

}

.cards {
    display: flex;
    align-items: flex-end;
    width: 20%;
    padding: 1rem;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--color-café-claro);
    border-width: 3px;
    justify-content: center;
}

.cards:hover {
    scale: 1.1;
    transition: 2s;

}

.details__academic {
    text-align: center;
}

.institution img {
    min-width: 100px;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.institution h3 {
    text-transform: uppercase;
}


.institution p {

    color: #888;
    padding: .75rem;
}

.certificar {
    color: black;

}

.certificar:hover {
    color: var(--color-verde-oscuro);
    text-decoration: underline;
    background-color: var(--color-café-blanco);
    font-size: 1.2rem;
    transition: 2s;
}

.angulo5 {
    width: 100%;
    height: 30px;
    position: relative;
    clip-path: polygon(0% 0%, 0% 80%, 20% 40%, 40% 70%, 60% 30%, 80% 80%, 100% 30%, 100% 0%);
    background-color: white;
    z-index: 1;
}
/* Experiencia */
.experience__box {
    width: 45%;
    transition: transform 0.3s ease;
}

.experience__section__title {
    text-align: center;
    font-size: 1.9rem;
    line-height: 1.3;
    text-transform: capitalize;
    color: #30574c;
    margin: 0 0 1rem;
    margin-top: 3rem;
}

.experience__box-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.experience__img {
    max-width: 80%;
    height: auto;
}

.experience__lista {
    display: inline-block;
    text-align: center;
    width: 40%;
    height: auto;
    vertical-align: top;
    padding: 30px 10px;
    box-sizing: border-box;
    border-color: var(--color-café-claro);
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    background-color: var(--color-café-blanco);
    margin: 1rem 1rem 1rem 2rem;

}

.experience__lista:hover {
    border-color: var(--color-verde);
    transform: scale(1.1);
    box-shadow: 10px 20px 20px var(--color-gris);
    transition: 2s;
}

.experience__lista h2 {
    padding: 1rem 1rem 2rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.descripcion {
    padding: 1rem;
    line-height: 1.8;
}

.experiencia__botao--repo,
.experience__botao--demo {
    background: var(--color-rosa-saludo);
    /* color de fondo */
    color: black;
    /* color de fuente */
    border: 2px solid var(--color-café-claro);
    /* tamaño y color de borde */
    padding: 10px 20px;
    border-radius: 3px;
    /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.experiencia__botao--repo:hover,
.experience__botao--demo:hover {
    color: var(--color-rosa-zanahoria);
    /* color de fuente hover */
}

.experiencia__botao--repo::after,
.experience__botao--demo::after {
    content: "";
    background: var(--color-rosa-nav);
    /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.experiencia__botao--repo:hover::after,
.experience__botao--demo:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.angulo6 {
    width: 100%;
    height: 30px;
    position: relative;
    clip-path: polygon(0% 50%, 0% 30%, 20% 60%, 40% 70%, 60% 50%, 80% 30%, 100% 50%, 100% 100%, 0% 100%);
    background-color: var(--color-gris);
    z-index: 1;
}


.contacto {
    background-color: var(--color-gris);
    padding: 20px;
}

.contacto__title {
    text-align: center;
    font-size: 1.9rem;
    line-height: 1.3;
    text-transform: capitalize;
    color: #30574c;
    margin: 0 0 1rem;
    margin-top: 2rem;
}

.contacto__container {
    margin: 0 auto;
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.details__contac {
    text-align: left;
}

.details__contac p {
    margin: 10px 0;
}
/* Estilos generales para el formulario */
#contact-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  /* Título del formulario */
  .formulario h1 {
    text-align: center;
    color: #3498db;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Estilo de las etiquetas */
  #contact-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #555;
  }
  
  /* Estilo para los campos de texto */
  #contact-form input,
  #contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño del campo */
  }
  
  /* Estilo cuando el campo está enfocado */
  #contact-form input:focus,
  #contact-form textarea:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.3);
  }
  
  /* Estilo para el botón de envío */
  #contact-form button {
    background-color: #3498db;
    color: white;
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  /* Efecto cuando el botón se encuentra sobre el cursor (hover) */
  #contact-form button:hover {
    background-color: #2980b9;
  }
  
  /* Mensajes de éxito o error */
  #contact-form .message {
    text-align: center;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  #contact-form .message.success {
    background-color: #2ecc71;
    color: white;
  }
  
  #contact-form .message.error {
    background-color: #e74c3c;
    color: white;
  }
  
  /* Estilos para los campos de texto largos */
  #contact-form textarea {
    resize: vertical;
    min-height: 150px;
  }
  
.redes_cont:hover {
    color: #42190B;
    text-decoration: underline;
    font-size: 1.3rem;
    filter: drop-shadow(10px 10px 10px var(--color-verde-oscuro));
    transition: .75s;
}

.footer {
    background-color: var(--color-blanco-rosa);
    padding: 20px;
    text-align: center;
}

.footer-content {
    color: #888;
}


/* Modo Oscuro */
body.modo-oscuro, body.modo-oscuro .angulo1, body.modo-oscuro .angulo2,body.modo-oscuro .angulo4, body.modo-oscuro.angulo5,body.modo-oscuro .angulo6 {
    background-color: #121212;
    color: #f2f2f2;
}

body.modo-oscuro a {
    color: #f2f2f2;
}

body.modo-oscuro .menu__list {
    background-color: #333;
}
body.modo-oscuro .title__bio {
    color:#FAD2E6;
}
body.modo-oscuro .saludo,
body.modo-oscuro .experience,
body.modo-oscuro .contacto,
body.modo-oscuro .footer {
    background-color: #1a1a1a;
}
body.modo-oscuro .about__container h3{
    color: #D4E0C3;
}
body.modo-oscuro .about__container h4{
    color:#DB9393;
}
body.modo-oscuro .about, body.modo-oscuro .about__container{
    background-color: #121212;
}
body.modo-oscuro .color__angulo2, body.modo-oscuro .angle3{
background-color: #1c1f26;
}
body.modo-oscuro .skills__title {
    color: bisque;
}
body.modo-oscuro .skills{
    background-color: #1c1f26;
}
body.modo-oscuro .color__angulo3, body.modo-oscuro .hobbies, body.modo-oscuro .angulo4{
    background-color: #2a2a2a;
    }
body.modo-oscuro .hobbies__title {
        color:#4FA4A8;
    }
body.modo-oscuro .color__angulo4,body.modo-oscuro .angulo5 , body.modo-oscuro .formacion-academica h2,body.modo-oscuro .formacion-academica {
    background-color: #1d2d2f;
        }
body.modo-oscuro .formacion-academica h2, body.modo-oscuro.formacion-academica .cards {
            color:aliceblue;
        }
body.modo-oscuro .formacion-academica .cards{
    background-color: aliceblue;
}
body.modo-oscuro .experience {
    background-color: #121212;
}
body.modo-oscuro .experience__section__title {
    color: #FAD2E6;
}
body.modo-oscuro .experience__lista {
    background-color: #2b0f34;
}
/* Responsividad*/

/*Tablet*/
@media screen and (max-width:920px) {
    .menu {
        width: 100%;
    }
    .saludo{
        padding-top: 3rem;
    }
    #modo-btn{
        top: 11rem;
        right: auto;
        left: 2rem;
    }
    .menu__list {
        flex-wrap: wrap;
        position: relative;
        height: 150px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: .75rem 1rem .75rem 1rem;
        border-bottom: 1px solid black;
    }

    .institutions {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;


    }

    .institution {
        padding: 3rem;
        box-sizing: border-box;
        align-items: center;
    }

    .skills__line {
        flex-wrap: wrap;
    }

    .hobbies__line {
        flex-wrap: wrap;
    }

    .cards {
        width: 15rem;
        justify-content: center;

        border-color: var(--color-café-claro);
        border-style: solid;
        border-width: 3px;
        border-radius: 10px;

        margin: 1rem;
        align-items: center;

    }

    .experience__box-info {
        flex-direction: column;
    }

    .experience__lista {
        margin: 1rem;
        width: 80%
    }

    .saludo__div {
        padding: 0;
        min-height: 0;
    }

@media screen and (max-width: 768px) {
    body.modo-oscuro .modo-contenedor{
        background-color: #1a1a1a;
    } 
    #modo-btn {
        position: inherit;
        margin: 1rem 1rem 1rem 5rem;
    }
    .modo-contenedor {
        font-size: 1.2rem;
        background-color:var(--color-rosa-saludo) ;
    }
    .saludo{
        padding: 0;
    }
    #modo-texto {
        font-size: 1rem; /* Tamaño adecuado en pantallas pequeñas */
        display: inline; /* Asegura que el texto se muestre */
    }
   
    .title__bio {
        font-size: 3rem;
        padding: 1rem 2rem;
    }

    .title__subsection {
        padding: 1rem 2rem;
    }

    .title__ {
        font-size: 2rem;
        padding: 1rem 2rem;
    }

    .title__soy {
        width: 80%;
    }

    .saludo__contenido {
        width: 100%;
    }

    .title__explora {
        width: 80%;
        margin: auto;
    }

    .about__container {
        padding: 0;
    }

    .contenido__sobre {
        flex-direction: column;
        align-items: center;
    }

    .profile {
        width: 40%;
        margin: 0px;
    }

    .contenido__sobre-text {
        text-align: center;
        padding: 0px;
        width: 100%;
    }
}


/*Mobile*/
@media (max-width: 425px) {

    .about__container {
        padding: 0;
    }

    .contenido__sobre {
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .profile {
        margin: 0%;
        width: 60%;
    }

    .skills__line {
        display: flex;
        flex-wrap: wrap;
    }

    .hobbies__line {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-info img {
        width: 15%;
    }


}